<a href="https://colab.research.google.com/github/Kamalkishor0/ml/blob/main/web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas beautifulsoup4 requests numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.13.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (4.13.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.4.26)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

# if response code is 403
 - headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
 -requests.get('url',headers=headers).text

In [ ]:
import requests
from bs4 import BeautifulSoup

# URL of the page to scrape
book = []
for i in range(1,51):
  url = f"https://books.toscrape.com/catalogue/page-{i}.html"
  # Headers to mimic a browser
  headers = {
      "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
  }

  # Make a GET request to fetch the page content
  response = requests.get(url, headers=headers)

  # Check if the request was successful
  if response.status_code == 200:
      # Parse the HTML content
      soup = BeautifulSoup(response.text, "lxml")
      for i in soup.find_all('h3'):
        book.append(i.text.strip())
  else:
      print(f"Failed to fetch the page. Status code: {response.status_code}")

In [ ]:
len(book)

1000

In [ ]:
#print(soup.prettify())

In [30]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

# URL of the page to scrape
book = []
output_file = 'file.txt'
file = open(output_file, 'w')
for i in range(1,51):
  url = f"https://books.toscrape.com/catalogue/page-{i}.html"
  # Headers to mimic a browser
  headers = {
      "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
  }

  response = requests.get(url, headers=headers)

  if response.status_code == 200:
      # Parse the HTML content
      soup = BeautifulSoup(response.text, "html.parser")
      image_tags = soup.find_all('img')
      with open(output_file, 'a') as file:
        for img in image_tags:
          img_url = img.get('src')
          img_url = urljoin(url, img_url)
          file.write(img_url + '\n')
  else:
      print(f"Failed to fetch the page. Status code: {response.status_code}")

In [ ]:
soup.find_all('h1')[0].text

'All products'

# TO FIND OUT NAMES OF THE COMPANIES

In [ ]:
for i in soup.find_all('h3'):
  print(i.text.strip())

A Light in the ...
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History ...
The Requiem Red
The Dirty Little Secrets ...
The Coming Woman: A ...
The Boys in the ...
The Black Maria
Starving Hearts (Triangular Trade ...
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little ...
Rip it Up and ...
Our Band Could Be ...
Olio
Mesaerion: The Best Science ...
Libertarianism for Beginners
It's Only the Himalayas

In [ ]:
# for i in soup.find_all('p'):
#   print(i.text.strip())

In [ ]:
#for in soup.find_all('p'):
  #print(i.text.strip())

## TO FIND OUT THE RATINGS

In [ ]:
for i in soup.find_all():
  print(i.i.text.strip())

In [ ]:
len(soup.find_all('p',class_='rating'))

30

## TO FIND OUT THE NUMBER OF REVIEWS

In [ ]:
len(soup.find_all('a' , class_='review-count'))

30

# CONSIDERING THE WHOLE CONTAINER

In [ ]:
company=soup.find_all('div',class_='company-content-wrapper')

In [ ]:
len(company)

30

In [ ]:
name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
how_old=[]
no_of_employee=[]

for i in company:

  name.append(i.find('h2').text.strip())
  rating.append(i.find('p',class_='rating').text.strip())
  reviews.append(i.find('a' , class_='review-count').text.strip())
  ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
  hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
  how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
  no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

df=pd.DataFrame({'name':name,
   'rating':rating,
   'reviews':reviews,
   'company_type':ctype,
   'Head_Quarters':hq,
   'Company_Age':how_old,
   'No_of_Employee':no_of_employee,
   })

In [ ]:
name

['TCS',
 'Accenture',
 'ICICI Bank',
 'Cognizant',
 'HDFC Bank',
 'Capgemini',
 'Tech Mahindra',
 'HCL Technologies',
 'L&T',
 'Infosys',
 'Tata Motors',
 'IBM',
 'Genpact',
 'Reliance jio',
 'Axis Bank',
 'Wipro',
 'Concentrix Corporation',
 'HDB Financial Services',
 'Vodafone',
 'Bharti Airtel',
 'Kotak Mahindra Bank',
 'Amazon',
 'Reliance',
 'Bajaj Finserv',
 'IndusInd Bank',
 'Indian Army',
 'Teleperformance',
 'Hinduja Global Solutions',
 'Samsung',
 'Mahindra & Mahindra']

In [ ]:
rating

['3.9',
 '4.0',
 '4.1',
 '3.9',
 '4.0',
 '3.4',
 '3.6',
 '3.7',
 '4.2',
 '3.9',
 '4.1',
 '4.1',
 '4.0',
 '4.0',
 '4.0',
 '3.8',
 '4.0',
 '4.0',
 '4.2',
 '4.2',
 '3.8',
 '4.1',
 '4.2',
 '4.1',
 '3.6',
 '4.7',
 '3.7',
 '3.8',
 '4.2',
 '4.2']

In [ ]:
reviews

['17.1k Reviews',
 '15k Reviews',
 '13.8k Reviews',
 '12.9k Reviews',
 '12k Reviews',
 '10k Reviews',
 '9.8k Reviews',
 '9.2k Reviews',
 '9.1k Reviews',
 '8.7k Reviews',
 '8.6k Reviews',
 '8.5k Reviews',
 '8.3k Reviews',
 '8.3k Reviews',
 '8.3k Reviews',
 '7.3k Reviews',
 '7.3k Reviews',
 '6.2k Reviews',
 '5.7k Reviews',
 '5.7k Reviews',
 '5.7k Reviews',
 '5.6k Reviews',
 '4.8k Reviews',
 '4.1k Reviews',
 '3.9k Reviews',
 '3.9k Reviews',
 '3.8k Reviews',
 '3.8k Reviews',
 '3.6k Reviews',
 '3.6k Reviews']

In [ ]:
ctype

['Public',
 'Private',
 'Public',
 'Private',
 'Public',
 'Private',
 'Public',
 'Public',
 'Public',
 'Public',
 'Public',
 'Private',
 'Private',
 'Public',
 'Public',
 'Public',
 'Public',
 'Private',
 'Public',
 'Public',
 'Public',
 'Private',
 'Public',
 'Public',
 'Public',
 'Govt agency',
 'Private',
 'Public',
 'Private',
 'Public']

In [ ]:
hq

['Mumbai + 164 more',
 'Dublin + 98 more',
 'Mumbai + 743 more',
 'Teaneck + 46 more',
 'Mumbai + 729 more',
 'Paris + 45 more',
 'Pune + 160 more',
 'Noida + 111 more',
 'Mumbai + 337 more',
 'Bangalore + 68 more',
 'Pune + 344 more',
 'New York + 73 more',
 'New York + 31 more',
 'Navi Mumbai + 606 more',
 'Mumbai + 670 more',
 'Bangalore + 123 more',
 'Fremont + 39 more',
 'Ahmedabad + 463 more',
 'Berkshire + 364 more',
 'New Delhi + 347 more',
 'Mumbai + 361 more',
 'Washington + 182 more',
 'Mumbai + 216 more',
 'Pune + 478 more',
 'Mumbai + 365 more',
 'New Delhi + 211 more',
 'Paris + 45 more',
 'Bangalore + 52 more',
 'Seoul + 292 more',
 'Mumbai + 268 more']

In [ ]:
how_old

['52 years old',
 '31 years old',
 '26 years old',
 '26 years old',
 '26 years old',
 '53 years old',
 '34 years old',
 '14 years old',
 '82 years old',
 '39 years old',
 '75 years old',
 '109 years old',
 '23 years old',
 '10 years old',
 '27 years old',
 '75 years old',
 '37 years old',
 '13 years old',
 '38 years old',
 '25 years old',
 '17 years old',
 '26 years old',
 '54 years old',
 '13 years old',
 '26 years old',
 '125 years old',
 '42 years old',
 '20 years old',
 '82 years old',
 '75 years old']

In [ ]:
no_of_employee

['10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees',
 '10000+ employees']

In [ ]:
df.shape

(30, 7)

# creating dataframe for all the pages

In [ ]:
final=pd.DataFrame()
for j in range(1,1001):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='company-content-wrapper')
  name=[]
  rating=[]
  reviews=[]
  ctype=[]
  hq=[]
  how_old=[]
  no_of_employee=[]

  for i in company:

    try:
       name.append(i.find('h2').text.strip())
    except:
       name.append(np.nan)

    try:
       rating.append(i.find('p',class_='rating').text.strip())
    except:
       rating.append(np.nan)

    try:

      reviews.append(i.find('a' , class_='review-count').text.strip())
    except:
      reviews.append(np.nan)

    try:

      ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    except:
      ctype.append(np.nan)
    try:

      hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    except:
      hq.append(np.nan)

    try:

      how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    except:
      how_old.append(np.nan)
    try:
      no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
    except:
      no_of_employee.append(np.nan)


  df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    'company_type':ctype,
    'Head_Quarters':hq,
    'Company_Age':how_old,
    'No_of_Employee':no_of_employee,
    })

  final=final.append(df,ignore_index=True)

In [ ]:
df.sample(5)

                           name rating  ...    Company_Age    No_of_Employee
2               Bank of America    4.3  ...   22 years old  10000+ employees
22               R.R. Donnelley    4.1  ...  156 years old  10000+ employees
11  Mahindra Holidays & Reso...    3.9  ...   24 years old  10000+ employees
23  GVK Emergency Management...    3.9  ...   15 years old  10000+ employees
9            Itc Infotech India    3.4  ...   20 years old  10000+ employees

[5 rows x 7 columns]

In [ ]:
df.shape

(30, 7)

In [ ]:
final.shape

(30000, 7)